background-color:##bcbcff;
.class3{ max-width:40%; height:auto;}
.class4{ max-width:40%; height:auto;}
.class5{ max-width:40%; height:auto;}
.class6{ max-width:40%; height:auto;}
.class7{ max-width:40%; height:auto;}
.class8{ max-width:40%; height:auto;}
