.class4{ text-align:left; max-width:20%; height:auto;}
.class5{ text-align:right; max-width:20%; height:auto;}
.class6{ text-align:left; max-width:20%; height:auto;}
.class7{ text-align:right; max-width:20%; height:auto;}
