h1{ color: black;}
.class1{ text-align: left; max-width:20%; height:auto;}
.class2{ text-align: left; max-width:20%; height:auto;}
.class3{ text-align: right; max-width:20%; height:auto;}
th.class4{ max-width:20%; height:auto;}
th.class5{ max-width:20%; height:auto;}
th.class6{ max-widyh:20%; height:auto;}
th.class7{  max-width:20%; height:auto;}
