h1{ color: black;}
.class1{ text-align: left; max-width:20%; height:auto;}
.class2{ text-align: left; max-width:20%; height:auto;}
.class3{ text-align: right; max-width:20%; height:auto;}
.class4{ text-aligin: left; max-width:20%; height:auto;}
.class5{ text-aligin: right; max-width:20%; height:auto;}
.class6{ text-aligin: left; max-widyh:20%; height:auto;}
.class7{ text-aligin: right; max-width:20%; height:auto;}
